* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family não alterei a fonte*/
}

body > header {
    background-color: rgba(196, 196, 221, 0.26);;
    padding: 16px 0;
    color: rgb(57, 61, 247);
    font-size: 28px;
    
}

header .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

header li {
    display: inline;
    font-weight: bold;
    margin-left: 16px;
    font-size: 24pt;

}

header li a {
    color: rgb(57, 61, 247);
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;

}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    height: 240px;
}

.articles article {
    width: 27%;
    font-size: 14pt;
    text-align: justify;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 28px;
}

.articles article a {
    background-color: rgba(17, 58, 9, 0.26);
    color: rgb(12, 82, 12);
    padding: 4px;
    display: inline-block;
    text-decoration: none;
}
.articles article a:hover {
    background-color: rgba(33, 109, 18, 0.26);
}

#economy a {
    background-color: rgba(182, 182, 6, 0.26);
    color: rgb(168, 145, 12);
}

#economy a:hover {
    background-color: rgba(219, 219, 7, 0.26);
}

#entertainment a {
    background-color: rgba(101, 101, 255, 0.349);
    color: rgb(35, 35, 177);
}

#entertainment a:hover {
    background-color: rgba(155, 155, 248, 0.349);
}

#technology a {
    background-color: rgb(245, 100, 100);
    color: rgb(141, 31, 31);
}

#technology a:hover {
    background-color: rgb(247, 166, 166);
}

.articles article a {
    font-weight: bold;
    margin-top: 4px;
}

section h2 {
    font-size: 40px;
}

#sports {
    background-color: rgba(212, 247, 160, 0.459);
}

#economy {
    background-color: rgba(250, 239, 180, 0.473);
}

#entertainment {
    background-color: rgba(156, 220, 245, 0.486);
}

#technology {
    background-color: rgba(252, 174, 174, 0.349);
}